{{define "body"}}
{{template "header"}}
<style>
  .card-header {background:darkgray;padding:10px;font-size:16px}
  .col {margin:5 0 5 0}
</style>
<nav style="padding:0.3rem 0.5rem 0.4rem 0.5rem;background:darkgray" class="navbar navbar-expand navbar-dark">
  <div class="collapse navbar-collapse" style="padding:6px">
    <img style="width:190px" src="imgs/title.png" />
  </div>
</nav>
<div class="container" style="padding-top:15px">
  <div class="card" style="height:calc(100% - 88px)">
    <div class="card-header">
      <i class="fas fa-server"></i> <span id="bsummary"></span>
    </div>
    <div class="card-body" style="padding:20 10">
      <div style="margin:0 9 9 9;display:inline-block;vertical-align:top">
        <!-- <span style="display:inline">网关&nbsp;</span> -->
        <select style="display:inline-block;width:260px;max-width:260px" class="form-control" id="gateways">
          <option>secret-eye</option>
          <option>shennongjia</option>
          <option>xuebaoding</option>
        </select>
        <small class="form-text text-muted">选择需要连接的网关</small>
      </div>
      <div style="margin:0 9 9 9;display:inline-block;vertical-align:top">
        <!-- <span style="display:inline;line-height:38px;vertical-align:top">主机&nbsp;</span> -->
        <div style="display:inline-block">
          <input style="display:inline-block;max-width:255px" class="form-control" placeholder="目标：[host:]<port>" />
          <small class="form-text text-muted">host默认为网关，port必须提供</small>    
        </div>
      </div>
      <div style="margin:0 9 9 9;display:inline-block;vertical-align:top">
        <!-- <span style="display:inline;line-height:38px;vertical-align:top">主机&nbsp;</span> -->
        <button class="btn btn-primary">申请连接授权</button>
        <button class="btn btn-secondary">端口扫描</button>
      </div>
      <div class="card" style="margin:15 9 9 9">
        <div class="card-body">
          <p style="font-size:13px;text-shadow:1px 1px 1px darkgray;margin-top:-30px;display:inline-block;background:white">&nbsp; 当前有效授权 &nbsp;</p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>      
    </div>
  </div>
</div>
<script>
function getSites() {
  $.get("/dk/site", function(e) {
    if (!e.stat) {
      toast("API错误", `/dk/site: ${e.mesg}`, "warning")
      return
    }
    $('#bsinfo').empty()
    var online = 0
    $.each(e.data, function(_, s) {
      if (s.conn >= 0) online++
      var style, status
      switch(s.conn) {
      case -1:
        style = "danger"
        status = "离线"
        break
      case 0:
        style = "secondary"
        status = "空闲"
        break
      default:
        style = "primary"
        status = `${s.conn}连接`
      } 
      $('#bsinfo').append(`<div class="alert alert-${style}" role="alert"
        style="display:inline-block;padding:5 9 5 9;margin:14 0 14 14">${s.name}（${status}）</div>`)
    })
    $('#bsummary').text(`${e.data.length}个注册网关，其中${online}个在线`)
  })
}
$(function() {
  getSites()
}) 
</script>
{{template "footer"}}
{{end}}