{{define "body"}}
{{template "header"}}
<style>
    body {
        background: #bbbbbb
    }
</style>
<div class="container">
    <div>
        <div style="padding-top:100px;padding-bottom:50px;text-align:center">
            <span style="font-variant:small-caps;font-family:serif;font-weight:bold;font-size:40px">
                Door Keeper
            </span>
        </div>
        <div style="text-align:center;padding:10;font-size:20px">欢迎回来，<span id="user">{{.User}}</span></div>
        <div class="form-group" style="text-align:center;margin-bottom:5px">
            <input id="pass" type="password" class="form-control" style="max-width:300px;display:inline"
                placeholder="请输入密码" />
        </div>
        <div class="form-group" style="text-align:center;margin-top:30px">
            <button id="commit" onclick="doLogin()" class="btn btn-primary">
                <i class="fas fa-door-open"></i> <b>登录</b>
            </button>
        </div>
    </div>
</div>
<script>
    function doLogin() {
        var u = $('#user').text().trim()
        var p = $('#pass').val().trim()
        if (p == "") {
            toast("错误", "请输入密码", "error")
            return
        }
        $.get(`/dk/login?u=${u}&p=${p}`, function(e) {
            if (e.stat) {
                location.reload(true)
            } else {
                toast("错误", "密码不正确", "error")
                $('#pass').val('')
            }
        })
    }
    $(function () {
        $(document).on('keydown', function(event) {
            if (event.key == "Escape") $('#pass').val('')
        })
        $('#pass').keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which)
            if (keycode == '13') doLogin()
        })
        $('#pass').focus()
    })
</script>
{{template "footer"}}
{{end}}